.newsletter {
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
}
.newsletter__content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 40px 0;

  max-width: 950px;
  margin: 0 auto;
}

.newsletter-form {
  width: 100%;
  display: flex;
  align-items: center;
}

.newsletter__title {
  max-width: 200px;
  width: 100%;
  display: flex;
  align-items: center;
}

.newsletter__title .title {
  margin-bottom: 0;
}

.newsletter__email {
  max-width: 630px;
  width: 100%;
  height: 40px;
  background: #ffffff;
  border: 1px solid #353535;
  border-radius: 4px;
  padding: 0 24px;
}

.newsletter__submit {
  width: 131px;
  height: 41px;

  background: #faa500;
  margin-left: -4px;
  border: 1px solid #faa500;
  border-radius: 4px;
}

.newsletter__submit span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .newsletter-content {
    flex-direction: column;
    gap: 24px;
  }

  .newsletter__content {
    display: flex;
    flex-direction: column;
  }
}
