.header__row--1 {
  background-color: #353535;
}
.header__top-bar {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  padding: 3px;
}

.header__container {
  max-width: 1600px;
  margin: 0 auto;
}

.header__row--2 {
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

.header__row--2 .header__container {
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__collumn {
  display: flex;
  align-items: center;
}

.header__collumn--center {
  max-width: 700px;
  width: 100%;
}

.header__collumn--right {
  gap: 40px;
}

.header__collumn--right button {
  display: flex;
  gap: 8px;
  border: none;
  background-color: transparent;
}

button.minicart {
  margin-left: 8px;
  cursor: pointer;
  border: 1px solid #faa500;
  border-radius: 8px;
  padding: 15px 17px;
}

/* navbar desk */

.header__navbar-row {
  padding: 10px;
}

.header__menu {
  max-width: 146px;
  width: 100%;
  display: flex;
}
.navbar__container--header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}
.header__menu a {
  margin: 0 auto;
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  color: #353535;
  text-decoration: none;
}
