.nav-mobile {
  width: 100%;
}

.nav-mob--container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.nav-mob--container img {
  filter: invert(1);
}

.nav-mob--container .nav-mob--link {
  padding: 0.6rem 0;

}

.nav-mob--link {
  color: #ffffff;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.8rem;

}

.nav-mob--submenu-container {
  margin: 0 0 .625rem 1.25rem;
  display: flex;
  flex-direction: column;
}

.nav-mob--submenu-container span {
  margin-left: 1.25rem;
  display: flex;
  flex-direction: column;
}

.nav-mob--submenu-container span a {
  font-weight: 300;
}

@media screen and (min-width: 64rem) {
  .nav-mobile {
    display: none;
  }
}